
// banner
.banner_txt {
  width: 73%;
}
.banner {
  &_img {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img1.jpg?raw=true");
    height: calc(100vh - 96px - 120px);
    z-index: -1;
    @include media-breakpoint-up(sm) {
      height: 100vh !important;
    }
  }
  &__item-name {
    line-height: 1;
    @include media-breakpoint-up(md) {
      line-height: 1.5;
      font-size: 27px;
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      font-size: 32px;
      line-height: 1.5;
    }
  }
  &__rideImg {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img2.jpg?raw=true');
    height: 100vh;
    @include media-breakpoint-up(sm) {
      height: auto !important;
    }
  }
}

.word_bottom {
  margin-bottom: 36px;
  @include media-breakpoint-up(md) {
    margin-bottom: 300px;
  }
}

// 文字
.info {
  padding: 20px;
  @include media-breakpoint-up(sm) {
    padding: 48px;
  }
}

.banner_wheelImg {
  background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img3.jpg?raw=true');
  height: 100vh;
  @include media-breakpoint-up(sm) {
    height: auto !important;
  }
}

// 人像圖
.quote {
  padding-top: 424px;
  //background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img4.jpg?raw=true');
  min-height: 640px;
  //background-attachment: fixed; //固定背景圖不要滾動，ios不支援
  clip-path: inset(0); //讓超出的範圍都被剪裁掉
  
}
//為了固定背景圖所造的偽元素
.quote::before {
  content: '';
  position: fixed; //固定背景
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img4.jpg?raw=true') top center no-repeat;
  background-size: cover;
  //background-attachment: fixed; //固定背景圖不要滾動，ios不支援
}