.header-logo{
  height: 48px;
  width: 112px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week7/logo-fixie.svg");
  /* 圖片取代文字 */
  white-space: nowrap; /* 規定段落中的文字不得進行換行 */
  text-indent: 101%;   /* 強迫文字縮排至原本的區域外 */
  overflow: hidden;    /* 將超出範圍的內容隱藏 */
}

.banner{
  height: 864px;
  &_img{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img1.jpg?raw=true");
    height: 864px;
    width: 960px;
  }
}

.border_line1{
  border-right: 1px solid $border1;
}

.description{
  &_img1{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img2.jpg?raw=true");
    height: 960px;
  }
  &_img2{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img3.jpg?raw=true");
    height: 960px;
  }
}

.item1{
  width: 150px;
  height: 61px;
  background: #fff;
  color: $border1;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  &_arrow{
    width: 61px;
    height: 61px;
    background: $border1;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
  }
}

.item2{
  width: 150px;
  height: 61px;
  background: $border1;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  &_arrow{
    width: 61px;
    height: 61px;
    background: #fff;
    color: $border1;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
  }
}

.avatar{
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week7/img4.jpg?raw=true");
  height: 1000px;
  background-attachment: fixed;
}

.style_width_1{
  width: 418px;
}