<!--footer-->
<footer class="container-fluid bg-bg1 py-6">
  <div class="container">
    <div class="d-flex flex-nowrap align-items-center justify-content-around">
      <div class="order-1">
        <ul class="d-flex">
          <li class="pe-10"><a href="#">Product</a></li>
          <li class="pe-10"><a href="#">Blog</a></li>
          <li class="pe-10"><a href="#">contact</a></li>
        </ul>
      </div>
      <div class="order-2 text-secondary d-none d-md-block">© 2020 Fixie. All Rights Reserved.</div>
      <div class="order-3 header-logo"><a href="./index.html" class="py-6 fz-9 fz-md-12 fw-bold fst-italic">Fixie</a>
      </div>
    </div>
  </div>
</footer>